body {
  font-family: "Yuyu", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f4f8f6;
  margin: 0;
  text-align: center;
}

header {
  padding: 30px;
}

h1 {
  font-size: 40px;
}

.game-section {
  width: 80%;
  max-width: 700px;
  margin: auto;
}

#startButton {
  padding: 10px 20px;
  font-size: 26px;
  margin-bottom: 20px;
  cursor: pointer;
}

#gameArea {
  width: 100%;
  height: 400px;
  background-color: white;
  border: 2px solid #b7c9bd;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.bubble {
  border-radius: 50%;
  border: none;
  position: absolute;
  cursor: pointer;
  animation-name: floatAround;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transition: transform 0.3s ease, opacity 0.3s ease;
  box-shadow: inset -8px -8px 12px rgba(255, 255, 255, 0.35),
              inset 8px 8px 12px rgba(255, 255, 255, 0.15);
}

#message {
  margin-top: 20px;
  font-size: 18px;
}
@keyframes floatAround {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(40px, -30px);
  }

  50% {
    transform: translate(-20px, -60px);
  }

  75% {
    transform: translate(30px, -20px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.bubble {
  animation-name: floatAround;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.pop {
  transform: scale(0);
  opacity: 0;
}
.bubble::after {
  content: "";
  width: 18px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 16px;
}
nav {
  background-color: #d7eadc;
  padding: 15px;
  text-align: center;
}

nav a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}