body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

nav a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

nav {
  background-color: #d7eadc;
  padding: 15px;
}

nav a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

header {
  background-color: #d7eadc;
  padding: 40px 20px;
}

main {
  width: 80%;
  max-width: 700px;
  margin: 40px auto;
}

.story,
.share-section {
  background-color: white;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  text-align: left;
}

textarea {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #b7c9bd;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #b8d8c0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #9fc8aa;
}

#thankYouMessage {
  margin-top: 15px;
}